body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 30px;
    color: #ffcc00;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

/* Styling for the clickable links */
a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffa500;
    text-decoration: underline;
}

#branchDetails {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
}
